{{#mol-alphabet-specialists-content}}
{{#slide-content}}
<div class="row d-flex align-items-center justify-content-center flex-wrap {{toefl-reverse}}">
	<div class="col-12 col-lg-6">
		<div class="alphabet-specialists__main__content">

			{{#title}}
			<div class="alphabet-specialists__main__content__title">
				<h1>{{{title}}}</h1>
			</div>
			{{/title}}
			<div class="alphabet-specialists__main__content__description">
				{{#text-1}}
				<p>
					{{{text-1}}}
				</p>
				{{/text-1}}

				{{#text-2}}
				<h2>
					{{{text-2}}}
				</h2>
				{{/text-2}}
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-6">
		{{#img}}
		<div class="alphabet-specialists__main__image">
			<img src="{{{img}}}" alt="{{{alt}}}">
		</div>
		{{/img}}
	</div>
</div>
{{/slide-content}}
{{/mol-alphabet-specialists-content}}