{{#mol-classes-going-content}}
	{{#going-content-slide}}
		<div class="row d-flex flex-wrap">
			<div class="col-12 col-lg-5">

				{{#img}}
				<div class="classes-going__main__image">
					<img src="{{{img}}}" alt="{{{alt}}}">
				</div>
				{{/img}}

			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center">
				<div class="classes-going__main__content">

					{{#title}}
						<div class="classes-going__main__content__title {{international-exams__title}}">
							<h1>{{{title}}}</h1>
						</div>
					{{/title}}

					{{#text}}
						<div class="classes-going__main__content__text">
							<p>{{{text}}}</p>
						</div>
					{{/text}}

					{{#blockquote}}
						<div class="classes-going__main__content__quote {{blockquote-violet-bg}}">
							<blockquote>
								{{{blockquote}}}
							</blockquote>
						</div>
					{{/blockquote}}

					{{#international-exams-quote-text}}
						<div class="classes-going__main__content__quote__international">
							<p>
								{{{international-exams-quote-text}}}
							</p>
						</div>
					{{/international-exams-quote-text}}

				
						<div class="classes-going__main__content__quote__list">
							
							<ul>
									{{#international-exams-quote__lists}}
								{{#li}}
								<li>{{{li}}}</li>
								{{/li}}
								{{/international-exams-quote__lists}}
							</ul>
							
						</div>
				

				</div>
			</div>
		</div>
	{{/going-content-slide}}
{{/mol-classes-going-content}}
