{{#mol-info-and-img}}
<div class="padding-bottom">
	<div class="row main-content">
		<div class="col-12 col-lg-5">
			<div class="block-info">
				{{#title}}
				<h2>{{{title}}}</h2>
				{{/title}}

				{{#my-list}}
				<ul>
					{{#link}}
					<li>{{{link}}}</li>
					{{/link}}
				</ul>
				{{/my-list}}


				{{#href}}
				<a href="#" class="default-btn">{{{href}}}</a>
				{{/href}}

			</div>
		</div>

		<div class="col-12 col-lg-7">
			{{#image}}
			<div class="block-image" style="background-image:url({{{bg-img}}});">
				<div class="btn-play">
					<a href="#">
						<img src="{{{image}}}" alt="play">
					</a>
				</div>
			</div>
			{{/image}}
		</div>
	</div>
</div>
{{/mol-info-and-img}}