{{#mol-trust-azbyka-content}}
<div class="col-12 col-lg-5">
	<div class="trust-azbyka__main__item {{numbers-color-yellow}} {{numbers-color-violet}}">
		<h1>{{{title}}}</h1>
		{{{description}}}
		<img src="{{{img}}}" alt="{{{alt}}}">
	</div>
</div>
{{/mol-trust-azbyka-content}}