<div class="col-12 col-lg-5">
	<div class="written__main__form">
		<h3>
			Дізнайтесь вартість перекладу
			<span>просто зараз:</span>
		</h3>

		<form class="written__main__form__input-block">
			<div class="written__main__form__input-block__select-1">
				<select>
					<option data-display="Тип перекладу"></option>
					<option value="1">Медичний</option>
					<option value="2">Технічний</option>
					<option value="3">Літературний</option>
				</select>
			</div>

			<div class="two-select-main">
				<div class="written__main__form__input-block__select-2">
					<select>
						<option data-display="">З іспанської</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>

				<div class="written__main__form__input-block__select-3">
					<select>
						<option data-display="">На англійську</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
			</div>

			<div class="written__main__form__input-block__downloadBtn">
				<a href="#">Завантажити</a>
			</div>
			<input type="text" id="input-name" placeholder="Ваше імя">
			<input id="phone" type="text" placeholder="Ваш телефон" />
			<input type="submit" value="Дізнатися вартість" id="input-submit">
		</form>
	</div>
</div>