body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #fff;
}

.nav_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top .5s ease-out;
  background: #fff;
}

.brand-style {
  max-width: 150px;
  object-fit: contain;
}

.scroll {
  top: -200px;
}

.no-scroll {
  top: 0;
  z-index: 9999;
}

.btn {
  padding: 10px 1%;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.1s ease;
}

.btn:hover {
  transition: all 0.1s ease;
}

.menu-link {
  display: none;
}

.spinner-master input[type=checkbox] {
  display: none;
}

.menu-header {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  align-items: center;
  display: flex;
}

.menu-header ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-block;
  transition: all .3s ease-in-out;
}

.menu-header>li>ul.sub_menu {
  min-width: 10em;
  padding: 4px 0;
  background-color: #f4f4f4;
  border: 1px solid #fff;
  transition: all .3s ease-in-out;
}

.menu-header ul li {
  transition: all .3s ease-in-out;
  padding: 0px;
}

.menu-header>ul>li {
  display: inline-block;
}

.menu-header ul li a {
  display: block;
  text-decoration: none;
  color: #6d6d6d;
  font-size: 1rem;
}

// .menu-header ul li a:hover {
//   border-bottom: 1px solid #f03f65;
// }
.menu-header ul li>a {
  padding: 0 5px 0 0;
}

.menu-header ul ul {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  background: #fff;
  transition: all .3s ease-in-out;
}

.menu-header ul li:hover>ul {
  display: block;
}

.nav_wrapper-menu {
  height: auto;
  min-height: 115px;
}

.menu-header ul ul>li {
  position: relative;
}

.menu-header ul ul>li a {
  padding: 10px 15px;
  height: auto;
  background: #fff;
}

.menu-header ul ul>li a:hover {
  color: #6d6d6d;
}

.menu-header ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.spinner-master {
  display: none;
}

.home-menu {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 9999;
  &__phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: relative;
      padding-right: 5px;
    }
    p {
      text-decoration: none;
      color: #6d6d6d;
      font-size: 1rem;
      margin: 0;
    }
  }
  &__select {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: relative;
      padding-right: 5px;
    }
    select {
      outline: none;
      border: none;
      color: #ed1846;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.home-baner {
  padding: 100px 0;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  &__main {
    &__info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      height: auto;
      min-height: 100%;
      img {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 40px;
        right: 0;
        z-index: 2;
        left: 0;
      }
      p {
        font-size: 1.5rem;
        color: #6d6d6d;
        span {
          font-size: 1.5rem;
          color: #ed1846;
        }
      }
      &__arrows {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: flex-end;
        padding-top: 100px;
        &__left {
          width: 75px;
          height: 75px;
          background-color: #ed1846;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 50px;
          margin: 10px;
          box-shadow: -4px 4px 21px #cfcfcf;
          cursor: pointer;
        }
        &__right {
          width: 75px;
          height: 75px;
          background-color: #ed1846;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 50px;
          margin: 10px;
          box-shadow: -4px 4px 21px #cfcfcf;
          cursor: pointer;
        }
      }
    }
    &__image {
      width: 100%;
      height: auto;
      img {
        width: 100%;
      }
    }
  }
}

.default-btn {
  width: auto;
  min-width: 315px;
  background-color: #ed1846;
  color: #fff;
  font-size: 1.75rem;
  border-radius: 45px;
  height: 80px;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.language-courses {
  width: 100%;
  position: relative;
  height: auto;
  &__content {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 55px;
    .block-info {
      h2 {
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: 'bold';
        color: #9ab43c;
        font-size: 5rem;
      }
      ul {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'thin';
        font-size: 1.875rem;
        color: #7b7b7b;
        li {
          padding: 0;
          margin: 0;
        }
      }
      a {
        padding: 0;
        margin: 0;
      }
    }
    .block-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      .btn-play {
        width: 75px;
        height: 75px;
        position: relative;
        top: 25px;
        left: -35px;
        img {
          width: 100%;
          height: auto;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.title-default {
  text-align: center;
  margin: 0;
  h1 {
    font-family: 'black';
    color: #6d6d6d;
    font-size: 3.75rem;
    margin: 0;
    p {
      margin: 0;
    }
    span {
      color: #ed1846;
      margin: 0;
    }
  }
}

.padding-bottom {
  padding-bottom: 130px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  flex-direction: row;
}

.main-content {
  width: 100%;
}

.padding-bottom:nth-child(even) {
  .main-content {
    flex-direction: row-reverse;
  }
}

.gradient-line {
  background: linear-gradient(to right, #fff 0%, #c9c9c9 100%);
  width: 100%;
  height: 2px;
  margin: 0 15px;
}

.padding-bottom:nth-child(1) .block-info h2 {
  color: #9ab43c;
}

.padding-bottom:nth-child(2) .block-info h2 {
  color: #00879e;
}

.padding-bottom:nth-child(3) .block-info h2 {
  color: #742c80;
}

.title-2 h2 {
  color: #00879e !important;
}

.title-3 h2 {
  color: #742c80 !important;
}

.blue-arrow {
  background-color: #00879e !important;
  top: -90%;
  left: 96%;
}

.violet-arrow {
  background-color: #742c80 !important;
}

.trust {
  width: 100%;
  height: auto;
  position: relative;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  &__main {
    width: 100%;
    height: auto;
    padding-top: 135px;
    padding-bottom: 100px;
    &__description {
      text-align: center;
      padding-bottom: 25px;
      p {
        font-family: 'regular';
        color: #fff;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        span {
          font-family: 'black';
          margin: 0;
          padding: 0;
        }
      }
    }
    &__title {
      width: 100%;
      height: auto;
      padding-bottom: 50px;
      h2 {
        margin: 0;
        padding: 0;
        font-size: 1.875rem;
        color: #fff;
        font-family: 'black';
      }
    }
    &__numbers-block {
      width: 100%;
      height: auto;
      min-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      p {
        margin: 0;
        padding: 0;
        color: #6d6d6d;
        font-size: 2.25rem;
        font-family: 'thin';
        span {
          margin: 0;
          font-size: 5.125rem;
          font-family: 'black';
          padding-right: 25px;
        }
      }
    }
  }
}

.text-color-child:nth-child(even) span {
  color: #fff;
}

.text-color-child:nth-child(odd) span {
  color: #6d6d6d;
}

.even-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
}

.company-logo {
  width: 100%;
  height: auto;
  position: relative;
  padding: 75px 0 100px 0;
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
      width: 100%;
      max-width: 180px;
      height: auto;
      min-height: 140px;
      cursor: pointer;
      filter: grayscale(100);
      &:hover {
        filter: grayscale(0);
      }
      img {
        width: 100%;
        height: auto;
        position: relative;
        object-fit: cover;
      }
      &__underline-image {
        display: none;
      }
    }
  }
}

.company-logo__main__item:hover .company-logo__main__item__underline-image {
  display: block;
}

.quotes {
  width: 100%;
  position: relative;
  height: auto;
  margin: 0 0 180px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  &__main {
    width: 100%;
    position: relative;
    height: auto;
    &__image {
      width: 100%;
      display: block;
      height: auto;
      min-height: 480px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    &__description {
      width: 100%;
      position: relative;
      height: auto;
      &:before {
        content: '';
        background-image: url(../img/quotes-before.png);
        float: left;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -45px;
      }
      &:after {
        content: '';
        background-image: url(../img/quotes-after.png);
        float: right;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -30px;
        right: 0;
      }
      p {
        padding: 0;
        color: #6d6d6d;
        font-size: 1.5rem;
        font-family: 'thin';
        line-height: 1.6rem;
      }
      span {
        padding: 0;
        margin: 0;
        color: #00879e;
        font-size: 1.5rem;
        font-family: 'italic';
        padding-top: 35px;
      }
    }
    &__arrows {
      display: flex;
      width: 100%;
      align-items: flex-end;
      padding-top: 80px;
      &__left {
        width: 75px;
        height: 75px;
        background-color: #ed1846;
        border-radius: 50%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 50px;
        margin: 10px;
        box-shadow: -4px 4px 21px #cfcfcf;
        cursor: pointer;
      }
      &__right {
        width: 75px;
        height: 75px;
        background-color: #ed1846;
        border-radius: 50%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 50px;
        margin: 10px;
        box-shadow: -4px 4px 21px #cfcfcf;
        cursor: pointer;
      }
    }
  }
}

.about-us {
  width: 100%;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__main {
    width: 100%;
    position: relative;
    height: auto;
    &__item {
      &__info {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          h1 {
            display: inline-block;
            margin: 0;
            font-family: 'black';
            font-size: 12.25rem;
            background: #bee0e6;
            -webkit-background-clip: text;
            text-decoration: none;
            -webkit-text-fill-color: transparent;
            &:first-letter {
              display: inline-block;
              margin: 0;
              line-height: 1em;
              text-decoration: none;
              background: linear-gradient(to right, #bee0e6 50%, #99ced8 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              border: none;
            }
          }
        }
        &__description {
          width: 100%;
          h2 {
            padding: 0;
            margin: 0;
            font-family: 'black';
            color: #99ced8;
            font-size: 2.25rem;
            padding-bottom: 25px;
          }
          p {
            font-family: 'thin';
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: #757575;
            padding: 0;
            margin: 0;
          }
        }
      }
      &__info-2 {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          h1 {
            display: inline-block;
            margin: 0;
            font-family: 'black';
            font-size: 12.25rem;
            background: #e0f0f3;
            -webkit-background-clip: text;
            text-decoration: none;
            -webkit-text-fill-color: transparent;
            &:first-letter {
              display: inline-block;
              margin: 0;
              line-height: 1em;
              text-decoration: none;
              background: linear-gradient(to right, #acd7df 50%, #e0f0f3 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              border: none;
            }
          }
        }
        &__description {
          text-align: right;
          width: 100%;
          h2 {
            padding: 0;
            margin: 0;
            font-family: 'black';
            color: #99ced8;
            font-size: 2.25rem;
            padding-bottom: 25px;
          }
          p {
            font-family: 'thin';
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: #757575;
            padding: 0;
            margin: 0;
          }
        }
        &__description-2 {
          text-align: right;
          width: 100%;
          h2 {
            text-align: left;
            padding: 0;
            margin: 0;
            font-family: 'black';
            color: #99ced8;
            font-size: 2.25rem;
            padding-bottom: 25px;
          }
          p {
            font-family: 'thin';
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: #757575;
            padding: 0;
            margin: 0;
          }
        }
      }
      &__info-3 {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          h1 {
            display: inline-block;
            margin: 0;
            font-family: 'black';
            font-size: 12.25rem;
            background: #e0f0f3;
            -webkit-background-clip: text;
            text-decoration: none;
            -webkit-text-fill-color: transparent;
            &:first-letter {
              display: inline-block;
              margin: 0;
              line-height: 1em;
              text-decoration: none;
              background: linear-gradient(to right, #e0f0f3 50%, #acd7df 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              border: none;
            }
          }
          h3 {
            display: inline-block;
            margin: 0;
            font-family: 'black';
            font-size: 12.25rem;
            background: #e0f0f3;
            -webkit-background-clip: text;
            text-decoration: none;
            -webkit-text-fill-color: transparent;
          }
        }
        &__description {
          text-align: right;
          width: 100%;
          h2 {
            padding: 0;
            margin: 0;
            font-family: 'black';
            color: #99ced8;
            font-size: 2.25rem;
            padding-bottom: 25px;
          }
          p {
            font-family: 'thin';
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: #757575;
            padding: 0;
            margin: 0;
          }
        }
        &__description-2 {
          text-align: right;
          width: 100%;
          h2 {
            text-align: left;
            padding: 0;
            margin: 0;
            font-family: 'black';
            color: #99ced8;
            font-size: 2.25rem;
            padding-bottom: 25px;
          }
          p {
            font-family: 'thin';
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: #757575;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

.sertificate-padding-block {
  padding-top: 130px;
}

.certificate-section {
  padding-bottom: 120px;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__image {
      width: 100%;
      height: auto;
      position: relative;
      img {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
    &__info {
      padding-top: 60px;
      width: 100%;
      position: relative;
      h1 {
        padding-bottom: 60px;
        margin: 0;
        color: #fff;
        font-size: 3rem;
        font-family: 'bold';
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          color: #7b7b7b;
          font-family: 'thin';
          font-size: 1.875rem;
          padding-left: 15px;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 1.5rem;
            height: 1.25rem;
            background-image: url('../img/list-style.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            margin-right: 0.625rem;
            position: relative;
            left: 0;
            top: -1px;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
    &__arrows {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      position: relative;
      top: -65px;
      left: -85px;
      &__left {
        width: 75px;
        height: 75px;
        background-color: #ed1846;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 50px;
        margin: 10px;
        box-shadow: -4px 4px 21px #cfcfcf;
        cursor: pointer;
      }
      &__right {
        width: 75px;
        height: 75px;
        background-color: #ed1846;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 50px;
        margin: 10px;
        box-shadow: -4px 4px 21px #cfcfcf;
        cursor: pointer;
      }

    }
  }
}

.footer-menu {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  padding: 63px 0 20px 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    &__logotype {
      width: 100%;
      height: auto;
      position: relative;
      img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
      }
    }
    &__info {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      ul {
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0;
        li {
          padding: 10px;
          margin: 0;
          a {
            font-size: 1.5rem;
            color: #6d6d6d;
            font-family: 'regular';
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.footer-main {
  width: 100%;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  padding: 40px 0 50px 0;
  &__content {
    width: 100%;
    height: auto;
    position: relative;
    &__info {
      width: 100%;
      height: auto;
      position: relative;
      p {
        padding: 0 0 15px 0;
        margin: 0;
        color: #6d6d6d;
        font-size: 1.125rem;
        font-family: 'regular';
      }
    }
    &__numbers {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        padding: 0;
        margin: 0;
        color: #6d6d6d;
        font-size: 1.5rem;
        font-family: 'regular';
        padding-bottom: 15px;
      }
    }
  }
}

.arrow-right {
  position: absolute;
  display: block;
  top: 90%;
  right: 72%;
  z-index: 99;
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  display: block;
  top: 90%;
  left: 10%;
  z-index: 99;
  cursor: pointer;
}

.arrow-right-quotes {
  position: absolute;
  display: block;
  top: 85%;
  right: 30%;
  z-index: 99;
  cursor: pointer;
}

.arrow-left-quotes {
  position: absolute;
  display: block;
  top: 85%;
  right: 40%;
  z-index: 99;
  cursor: pointer;
}

.arrow-right-certificate {
  position: absolute;
  display: block;
  top: 89%;
  right: 52%;
  z-index: 99;
  cursor: pointer;
}

.arrow-left-certificate {
  position: absolute;
  display: block;
  top: 89%;
  right: 60%;
  z-index: 99;
  cursor: pointer;
}

.trusted__main__text {
  p {
    span {
      text-shadow: 1px 1px 1px #ed1846;
      font-size: 20px;
      color: #fff;
    }
  }
}

.oral-translation {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-top: 100px;
  min-height: 910px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      h1 {
        font-family: 'black';
        font-size: 5.5rem;
        color: #d7edf1;
        transform: rotate(-7deg);
        text-shadow: -3px 4px 15px #91c8d1;
        margin: 0;
      }
      h2 {
        font-family: 'black';
        text-align: right;
        font-size: 4.375rem;
        color: #d7edf1;
        margin: 0;
        transform: rotate(-11deg);
        text-shadow: -3px 4px 15px #91c8d1;
      }
    }
    &__description {
      width: 100%;
      height: auto;
      p {
        font-size: 1.875rem;
        color: #fff;
        font-family: 'black';
      }
    }
  }
}

.categorias-section {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__item {
      width: 100%;
      height: auto;
      position: relative;
      background-color: #91c8d1;
      border-radius: 40px;
      min-height: 90px;
      height: auto;
      display: flex;
      margin-bottom: 20px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #ed1846;
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        text-decoration: none;
        h1 {
          font-size: 2rem;
          color: #fff;
          font-family: 'black';
          margin: 0;
        }
        p {
          margin: 0;
          color: #fff;
          font-family: 'regular';
        }
      }
    }
  }
}

.oral {
  padding-bottom: 25px;
}

.trust-azbyka {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 60px;
    &__item {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      h1 {
        font-family: 'black';
        font-size: 7.3rem;
        color: #9ecdd6;
        margin: 0;
        padding-right: 40px;
      }
      p {
        font-size: 1.875rem;
        max-width: 235px;
        font-family: 'thin';
        margin: 0;
        line-height: 1.8rem;
        color: #6d6d6d;
        span {
          font-family: 'black';
          font-size: 1.875rem;
          color: #6d6d6d;
        }
      }
    }
  }
}

.application-section {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #2194a7;
  padding: 45px 0;
  &__main {
    &__info {
      h1 {
        font-size: 1.875rem;
        font-family: 'regular';
        color: #6d6d6d;
        margin: 0;
        padding: 0 0 20px 0;
        span {
          color: #fff;
          font-family: 'black';
          margin: 0;
          padding: 0;
        }
      }
      p {
        font-family: 'thin';
        font-size: 1.125rem;
        color: #fff;
        margin: 0;
        padding: 0;
      }
    }
    &__button {
      background-color: #fff;
      height: auto;
      min-height: 80px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        font-family: 'black';
        color: #6d6d6d;
        font-size: 1.75rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
      }
    }
  }
}

.city-center {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 75px 0 40px 0;
}

.city-center-padding {
  padding: 70px 0 35px 0;
}

.city-center-content {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    p {
      color: #6d6d6d;
      font-family: 'regular';
      font-size: 1.125rem;
      margin: 0;
      padding-bottom: 30px;
    }
  }
}

.another-block-content {
  p {}
  ul {
    list-style: none;
    li {
      color: #6d6d6d;
      position: relative;
      font-family: 'regular';
      font-size: 1.125rem;
      margin: 0;
      padding-bottom: 20px;
      &:before {
        content: '';
        position: absolute;
        left: -40px;
        top: 0;
        width: 32px;
        height: 32px;
        background: url(../img/list-style-2.png);
      }
    }
  }
}

.languages-section {
  width: 100%;
  height: auto;
  position: relative;
  padding: 70px 0 0 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    padding: 55px 30px 70px 30px;
    border: 1px solid #9ecdd6;
    &__item {
      background-color: #9ecdd6;
      border-radius: 40px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #ed1846;
        cursor: pointer;
      }
      img {
        position: relative;
      }
      p {
        font-family: 'black';
        margin: 0 auto;
        color: #fff;
        font-size: 1.75rem;
      }
    }
  }
}

.written {
  width: 100%;
  min-height: 800px;
  height: auto;
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__info {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        position: relative;
        h1 {
          padding: 0;
          margin: 0;
          font-size: 3.9rem;
          color: #9ecdd6;
          font-family: 'black';
          transform: rotate(-10deg);
          width: 100%;
          min-width: 660px;
          text-shadow: -5px 11px 18px #2b8898;
        }
        h2 {
          padding: 0;
          margin: 0;
          font-size: 4.3rem;
          color: #9ecdd6;
          transform: rotate(-23deg);
          width: 100%;
          font-family: 'black';
          min-width: 660px;
          right: -68%;
          top: -29%;
          z-index: 100;
          position: absolute;
          text-shadow: -5px 11px 18px #2b8898;
        }
      }
      &__text {
        width: 100%;
        height: auto;
        padding-top: 88px;
        position: relative;
        p {
          font-size: 1.5rem;
          color: #fff;
          font-family: 'regular';
          padding: 0;
          margin: 0;
          span {
            font-size: 1.5rem;
            font-family: 'black';
          }
        }
      }
    }
    &__form {
      background-color: transparent;
      width: 100%;
      height: auto;
      position: relative;
      h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        max-width: 420px;
        margin: 0 auto;
        font-family: 'medium';
        font-size: 1.8rem;
        color: #fff;
        span {
          padding: 0;
          margin: 0;
          font-family: 'black';
          font-size: 1.8rem;
          color: #fff;
        }
      }
      &__input-block {
        input {
          width: 100%;
          height: auto;
          position: relative;
          border-radius: 40px;
          padding: 7px 0 7px 30px;
          font-family: 'thin';
          font-size: 1.5rem;
          background-color: #2ca0b3;
          border: 1px solid #fff;
          color: #fff !important;
          outline: none;
        }
        &__select-1 {
          ul {
            font-family: 'thin' !important;
            height: auto;
            background-color: #bee0e6 !important;
            li {
              font-family: 'thin' !important;
              color: #fff;
              text-decoration: underline;
              font-size: 1.5rem;
              &:hover {
                background-color: transparent !important;
              }
            }
          }
        }
        &__select-2 {
          ul {
            font-family: 'thin' !important;
            height: auto;
            background-color: #bee0e6 !important;
            li {
              font-family: 'thin' !important;
              font-size: 1.5rem;
              color: #fff;
              text-decoration: underline;
              &:hover {
                background-color: transparent !important;
              }
            }
          }
        }
        &__select-3 {
          ul {
            font-family: 'thin' !important;
            height: auto;
            background-color: #bee0e6 !important;
            li {
              font-family: 'thin' !important;
              font-size: 1.5rem;
              color: #fff;
              text-decoration: underline;
              &:hover {
                background-color: transparent !important;
              }
            }
          }
        }
        &__downloadBtn {
          margin-top: 10px;
          width: 100%;
          height: auto;
          padding: 7px 0 7px 30px;
          border: 1px solid #fff;
          border-radius: 50px;
          a {
            color: #fff;
            font-family: 'thin';
            font-size: 1.5rem;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//contact-form
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 9px;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

form input:focus,
form textarea:focus {
  box-shadow: 0 0px 2px #fff !important;
}

form #input-submit {
  color: #fff;
  background: #ed1846;
  cursor: pointer;
  font-family: 'black';
  font-size: 1.75rem;
  padding: 15px 0 !important;
  width: 100%;
  border-radius: 50px;
  border: none;
}

form #input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

/* Clearfix */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.written__main__form__input-block__select-1 .nice-select {
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  padding: 7px 0 7px 30px;
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}

.written__main__form__input-block__select-2 .nice-select {
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  padding: 7px 0 7px 30px;
  font-size: 1.5rem;
}

.written__main__form__input-block__select-3 .nice-select {
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  padding: 7px 0 7px 30px;
  font-size: 1.5rem;
}

.two-select-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.written__main__form__input-block__select-1 .nice-select .list {
  width: 100%;
}

.written__main__form__input-block__select-3,
.written__main__form__input-block__select-2 {
  width: 50%;
}

.written__main__form__input-block__select-2 {
  padding-right: 18px;
}

.languages-section__main__border {
  border: none;
}

.written-btn-item {
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  * {
    position: relative;
    z-index: 300;
  }
  &:hover {
    &:after {
      background-color: #b1d7df;
    }
  }
  &:before {
    content: '';
    display: block;
    width: calc(100% + 0px);
    height: calc(100% + 2px);
    position: absolute;
    z-index: 100;
    top: -1px;
    left: -1px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #b1d7df 0%, #fff 100%);
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-color: #fff;
    transition: all .3s ease-in-out;
  }
}

.written-btn-item p {
  color: #6d6d6d;
  font-size: 1.75rem;
  font-family: 'regular';
}

.we-realize {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    padding-top: 45px !important;
    position: relative;
    width: 100%;
    &__content {
      border: 1px solid #9ecdd6;
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      min-height: 250px;
      &__item {
        width: 100%;
        height: auto;
        h1 {
          color: #fff;
          font-size: 5.125rem;
          font-family: 'black';
          padding: 0;
          margin: 0;
          span {
            font-family: 'thin';
            font-size: 1.875rem;
            color: #6d6d6d;
          }
          &:nth-child(even) {
            color: #6d6d6d;
          }
        }
      }
    }
  }
}

.itemChild:nth-child(1) .we-realize__main__content__item {
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 110%;
  max-width: 415px;
  padding-left: 40px;
  position: relative;
  left: -14%;
  top: -20px;
}

.itemChild:nth-child(even) h1 {
  color: #6d6d6d;
}

.itemChild:nth-child(5) h1 {
  color: #bee0e6;
}

.belive-padding {
  padding-top: 100px;
}

.apostyle {
  width: 100%;
  min-height: 800px;
  height: auto;
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__form {
      h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        max-width: 420px;
        margin: 0 auto;
        font-family: 'medium';
        font-size: 1.8rem;
        color: #fff;
        span {
          padding: 0;
          margin: 0;
          font-family: 'black';
          font-size: 1.8rem;
          color: #fff;
        }
      }
      &__input-block {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        input {
          width: 100%;
          height: auto;
          position: relative;
          border-radius: 40px;
          padding: 7px 0 7px 30px;
          font-family: 'thin';
          font-size: 1.5rem;
          background-color: #cde9ee;
          border: 1px solid #fff;
          color: #fff !important;
          outline: none;
        }
        &__subtitle {
          width: 100%;
          height: auto;
          position: relative;
          padding: 25px 0 15px 0;
          h4 {
            color: #fff;
            font-family: 'medium';
          }
        }
        &__downloadBtn {
          width: 100%;
          height: auto;
          padding: 7px 0 7px 30px;
          border: 1px solid #fff;
          border-radius: 50px;
          a {
            color: #fff;
            font-family: 'thin';
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.firts-title-padding {
  padding-bottom: 0;
  font-size: 6.562rem;
}

.firts-title-padding h1 {
  font-size: 6.562rem;
}

.text-font-family p {
  font-family: 'thin';
}

.apostyle-sertificate {
  padding-bottom: 270px;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__image {
      width: 100%;
      height: auto;
      position: relative;
      img {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
    &__info {
      width: 100%;
      position: relative;
      h1 {
        color: #fff;
        font-size: 3.75rem;
        font-family: 'bold';
        margin: 0;
        padding-bottom: 45px;
      }
      p {
        color: #6d6d6d;
        font-family: 'thin';
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
        padding-bottom: 30px;
        span {
          color: #6d6d6d;
          font-family: 'bold';
          font-size: 1.5rem;
        }
      }
      h2 {
        color: #fff;
        font-family: 'bold';
        font-size: 1.5rem;
        margin: 0;
        a {
          color: #fff;
          font-family: 'bold';
          font-size: 1.5rem;
          text-decoration: underline;
          padding: 0;
        }
      }
    }
  }
}

.translation-agency {
  width: 100%;
  position: relative;
  display: block;
  height: auto;
  padding-top: 160px;
  padding-bottom: 209px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &__main {
    &__title {
      h1 {
        color: #9ecdd6;
        font-family: 'black';
        font-size: 5.5rem;
        text-shadow: -5px 11px 18px #1b8393;
        transform: rotate(-7deg);
        margin: 0;
        width: 635px;
      }
      h2 {
        color: #9ecdd6;
        font-family: 'black';
        font-size: 4.375rem;
        text-shadow: -5px 11px 18px #1b8393;
        transform: rotate(-17deg);
        text-align: right;
        margin: 0;
        position: relative;
        right: -29%;
      }
    }
    &__description {
      p {
        color: #fff;
        opacity: .6;
        font-size: 1.125rem;
        font-family: 'black';
      }
    }
    &__list {
      h3 {
        font-size: 2.25rem;
        color: #fff;
        font-family: 'black';
        margin: 0;
      }
      ul {
        list-style: none;
        padding: 0%;
        li {
          color: #fff;
          opacity: .6;
          font-family: 'regular';
          font-size: 1.875rem;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 1.5rem;
            height: 1.25rem;
            background-image: url('../img/list-style-blue.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            margin-right: 0.625rem;
            position: relative;
            left: 0;
            top: -1px;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
}

.our-courses {
  padding-top: 160px;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 40px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__info {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        height: auto;
        position: relative;
        h2 {
          color: #9ab43c;
          font-family: 'bold';
          font-size: 4rem;
          margin: 0;
          padding-bottom: 30px;
        }
      }
      &__description {
        p {
          font-family: 'thin';
          color: #7b7b7b;
          font-size: 1.875rem;
          line-height: 2.2rem;
          margin: 0;
          padding-bottom: 30px;
        }
      }
      &__list {
        ul {
          padding: 0 0 0 35px;
          list-style: none;
          li {
            color: #7b7b7b;
            font-family: 'regular';
            font-size: 1.875rem;
            &:before {
              content: '';
              position: absolute;
              left: 0px;
              width: 32px;
              height: 32px;
              background: url(../img/list-style-green.png);
            }
          }
        }
      }
      &__button {
        height: auto;
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        border-radius: 50px;
        max-width: 290px;
        text-align: center;
        position: relative;
        background-color: #ed1846;
        transition: all .3s ease-in-out;
        a {
          color: #fff;
          font-family: 'black';
          font-size: 1.75rem;
        }
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
      }
    }
    &__navigation-arrow {
      img {
        top: 5%;
        position: absolute;
        width: 100%;
        max-width: 70px;
        height: 70px;
        left: -3%;
      }
    }
    &__languages-btn {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 80px;
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 40px;
        margin-bottom: 20px;
        transition: all .3s ease-in-out;
        border: 1px solid #bdcc2d;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: #bdcc2d;
          cursor: pointer;
        }
        img {}
        p {
          font-family: black;
          margin: 0 auto;
          color: #bdcc2d;
          font-size: 1.75rem;
        }
      }
    }
  }
}

.our-courses__main__languages-btn__item:hover p {
  color: #fff;
}

.title-courses-padding {
  padding-bottom: 90px;
}

.courses-item-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.courses-reverse :nth-child(even) {
  flex-direction: row-reverse;
}

.linear-gradient {
  background: linear-gradient(to left, #fefcea, #c9c9c9);
  height: 1px;
  width: 100%;
  margin-bottom: 85px;
  position: relative;
  margin-top: 20px;
}

.courses-reverse .courses-item-block:nth-child(even) {
  flex-direction: row-reverse;
  display: flex;
}

.courses-for-kids {
  width: 100%;
  padding-bottom: 240px;
  height: auto;
  position: relative;
  padding-top: 65px;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  &__main {
    &__content {
      &__title {
        position: relative;
        h1 {
          font-family: 'black';
          color: #e2e417;
          font-size: 5.6rem;
          text-shadow: -3px 4px 15px #b2c838;
          transform: rotate(-5deg);
        }
        h2 {
          font-family: 'black';
          color: #e2e417;
          font-size: 4.5rem;
          text-shadow: -3px 4px 15px #b2c838;
          text-align: right;
          transform: rotate(-10deg);
          position: relative;
          right: 8%;
        }
      }
      &__form {
        &__subtitle {
          position: relative;
          text-align: center;
          h3 {
            font-family: 'black';
            color: #fff;
            font-size: 1.8rem;
            margin: 0;
            padding-bottom: 30px;
            padding-top: 30px;
            span {
              text-transform: uppercase;
            }
          }
        }
        &__input {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          width: 100%;
          input {
            width: 100%;
            height: auto;
            max-width: 390px;
            margin-bottom: 10px;
            background-color: #cddc29;
            border: none;
            padding: 18px;
            border-radius: 50px;
            outline: none;
            color: #fff;
          }
        }
        &__button {
          padding-top: 15px;
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          input {
            font-size: 1.75rem;
            color: #fff;
            font-family: 'black';
            background-color: #ed1846;
            border: none;
            padding: 15px;
            border-radius: 50px;
            outline: none;
            cursor: pointer;
            width: 100%;
            max-width: 390px;
          }
        }
        &__description {
          text-align: center;
          position: relative;
          padding-top: 15px;
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
          p {
            font-family: 'regular';
            font-size: 1.5rem;
            color: #fff;
            margin: 0;
          }
        }
      }
    }
  }
}

.numbers-color-yellow h1 {
  color: #e2e417;
}

.numbers-color-yellow img {
  display: none;
}

.kids-courses-slider {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.alphabet-specialists {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 130px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        h1 {
          color: #ed1846;
          font-size: 3rem;
          font-family: 'black';
          margin: 0;
          padding-bottom: 40px;
          span {
            font-size: 3rem;
            color: #e2e417;
          }
        }
      }
      &__description {
        p {
          font-size: 1.5rem;
          font-family: 'thin';
          color: #7b7b7b;
          margin: 0;
          padding-bottom: 30px;
          line-height: 1.5rem;
        }
        h2 {
          font-size: 1.5rem;
          font-family: 'bold';
          color: #7b7b7b;
          max-width: 90%;
          width: 100%;
        }
      }
    }
    &__image {
      img {
        width: 100%;
        position: relative;
        height: auto;
      }
    }
  }
}

.arrow-right-kids-1 {
  position: absolute;
  right: 42%;
  bottom: 0;
  cursor: pointer;
}

.arrow-left-kids-1 {
  position: absolute;
  right: 50%;
  bottom: 0;
  z-index: 300;
  cursor: pointer;
}

.arrow-left-kids-2 {
  position: absolute;
  right: 57%;
  bottom: 0;
  z-index: 300;
  cursor: pointer;
}

.arrow-right-kids-2 {
  position: absolute;
  right: 48%;
  bottom: 0;
  z-index: 300;
  cursor: pointer;
}

.application-section-yellow-bg {
  background-color: #bdcc2d;
}

.classes-going {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 90px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__image {
      width: 100%;
      height: auto;
      position: relative;
      img {
        width: 100%;
      }
    }
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        height: auto;
        position: relative;
        h1 {
          font-family: 'black';
          color: #ed1846;
          font-size: 3rem;
        }
      }
      &__text {
        width: 100%;
        position: relative;
        p {
          font-family: 'thin';
          font-size: 1.5rem;
          color: #6d6d6d;
          line-height: 1.7rem;
        }
      }
      &__quote {
        blockquote {
          font-size: 1.5rem;
          width: 100%;
          height: auto;
          min-height: 135px;
          display: flex;
          margin: 0;
          font-family: 'black';
          color: #6d6d6d;
          padding: 10px 0 10px 27px;
          border-left: 14px solid #e2e417;
          line-height: 1.6;
          position: relative;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          p {
            margin: 0;
            margin-bottom: 5px;
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
        &__international {
          width: 100%;
          height: auto;
          position: relative;
          p {
            font-family: 'thin';
            color: #6d6d6d;
            font-size: 1.5rem;
          }
        }
        &__list {
          width: 100%;
          height: auto;
          position: relative;
          ul {
            padding: 0;
            list-style: none;
            margin: 0;
            li {
              list-style: none;
              font-family: 'bold';
              color: #6d6d6d;
              font-size: 1.5rem;
              &:before {
                content: '';
                background: url(../img/list-style-violet.png);
                display: inline-block;
                vertical-align: middle;
                width: 1.5rem;
                height: 1.25rem;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                margin-right: 0.625rem;
                position: relative;
                left: 0;
                top: -1px;
                transition: all .3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}

.classes-going__main-paddingTop {
  padding-top: 70px;
}

.why-we-cool {
  width: 100%;
  height: auto;
  position: relative;
  padding: 140px 0 110px 0;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid #e2e417;
      padding: 25px 0;
      &__item-1 {
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 120%;
        max-width: 415px;
        padding-left: 40px;
        position: relative;
        left: -14%;
        top: 15px;
        h1 {
          font-family: 'black';
          font-size: 5.125rem;
          color: #fff;
        }
        p {
          color: #6d6d6d;
          font-size: 1.875rem;
          font-family: 'thin';
          margin: 0;
          max-width: 255px;
          line-height: 1.7rem;
        }
      }
      &__item-2 {
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        z-index: 999999999;
        left: -14%;
        width: 115%;
        position: relative;
        padding: 40px;
        h1 {
          font-family: 'black';
          font-size: 5.125rem;
          color: #fff;
        }
        p {
          color: #6d6d6d;
          font-size: 1.875rem;
          font-family: 'thin';
          margin: 0;
        }
      }
      &__item-3 {
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px;
        width: 120%;
        left: -10%;
        position: relative;
        top: -19px;
        h1 {
          font-family: 'black';
          font-size: 5.125rem;
          color: #fff;
        }
        p {
          color: #6d6d6d;
          font-size: 1.875rem;
          font-family: 'thin';
          margin: 0;
        }
      }
    }
  }
}

.why-we-cool-padding-top {
  padding-top: 55px;
}

.row-reverse-quotes {
  display: flex;
  flex-direction: row-reverse;
}

.quotes-description-color:before {
  content: '';
  background-image: url(../img/quotes-before-yellow.png);
  float: left;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
}

.quotes-description-color:after {
  content: '';
  background-image: url(../img/quotes-after-yellow.png);
  float: right;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -30px;
  right: 0;
}

.quotes-description-color span {
  color: #bdcc2d;
}

.quotes-margin {
  margin: 0;
}

.city-center-li ul li:before {
  content: '';
  position: absolute;
  left: -40px;
  top: 0;
  width: 32px;
  height: 32px;
  background: url(../img/list-style-green.png);
}

.kids-item-green {
  background-color: #bdcc2d;
}

.languages-section__main__border-yellow {
  border: 1px solid #bdcc2d;
}

.contact {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  min-height: 800px;
  padding-top: 160px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__title {
      width: 100%;
      height: auto;
      position: relative;
      h1 {
        font-family: 'black';
        font-size: 3.9rem;
        color: #d7edf1;
        text-shadow: -3px 4px 15px #91c8d1;
        transform: rotate(-7deg);
        margin: 0;
      }
      h2 {
        font-family: 'black';
        font-size: 3.875rem;
        color: #d7edf1;
        text-shadow: -3px 4px 15px #91c8d1;
        text-align: right;
        transform: rotate(-12deg);
        margin: 0;
      }
    }
    &__description {
      p {
        font-family: 'thin';
        font-size: 1.875rem;
        color: #fff;
        margin: 0;
      }
      span {
        font-family: 'bold';
        font-size: 1.875rem;
        color: #fff;
        margin: 0px;
      }
    }
    &__form {
      &__title {
        h3 {
          font-family: 'medium';
          font-size: 1.8rem;
          color: #fff;
          margin: 0;
          max-width: 360px;
          margin: 0 auto;
          text-align: center;
          span {
            font-family: 'black';
            color: #fff;
          }
        }
      }
    }
    &__input {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      input {
        background-color: #cde9ee;
        width: 100%;
        max-width: 390px;
        border-radius: 50px;
        color: #fff;
      }
      textarea {
        background-color: #cde9ee;
        width: 100%;
        max-width: 390px;
        border-radius: 20px;
        height: auto;
        min-height: 130px;
        color: #fff;
      }
    }
  }
}

.contact-map {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    &__content {
      border: 1px solid #9ecdd6;
      margin-top: 25px;
      &__item-1 {
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 120%;
        max-width: 415px;
        position: relative;
        left: -14%;
        top: 0;
        flex-direction: column;
        z-index: 400;
        justify-content: center;
        &:before {
          content: '';
          left: 10%;
          top: 3%;
          position: absolute;
          background-image: url(../img/marker.png);
          z-index: 300;
          width: 65px;
          height: 85px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &__content {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          p {
            color: #fff;
            font-family: 'medium';
            font-size: 1.5rem;
            margin: 0;
          }
        }
      }
      &__item-2 {
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 150%;
        max-width: 495px;
        left: -25%;
        position: relative;
        left: -25%;
        top: 0;
        padding-left: 70px;
        z-index: 300;
        &:before {
          content: '';
          left: 5%;
          top: 14%;
          position: absolute;
          background-image: url(../img/white-marker.png);
          z-index: 300;
          width: 50px;
          height: 60px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &__content {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          p {
            color: #6d6d6d;
            font-family: 'thin';
            font-size: 1.5rem;
            margin: 0;
          }
        }
      }
      &__item-3 {
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 130%;
        max-width: 455px;
        padding-left: 70px;
        position: relative;
        left: -14%;
        top: 0;
        z-index: 200;
        &:before {
          content: '';
          left: 6%;
          top: 8%;
          position: absolute;
          background-image: url(../img/white-marker.png);
          z-index: 300;
          width: 50px;
          height: 60px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &__content {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          p {
            color: #6d6d6d;
            font-family: 'thin';
            font-size: 1.5rem;
            margin: 0;
          }
        }
      }
      &__info-item {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__title {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-bottom: 20px;
          img {
            width: 22px;
            height: auto;
            position: relative;
            margin-right: 10px;
          }
          p {
            margin: 0;
            color: #6d6d6d;
            font-size: 1.5rem;
            font-family: 'medium';
          }
        }
        a {
          color: #6d6d6d;
          font-size: 1.125rem;
          font-family: 'thin';
        }
      }
      &__map {
        filter: grayscale(100%);
        border-top: 1px solid #9ecdd6;
      }
    }
  }
}

.linear-contact-map {
  background: linear-gradient(to top, #fff 0%, #fff 50%, #b2d9e0 100%);
}

.build-route {
  position: relative;
  right: -15%;
  padding-top: 25px;
  padding-bottom: 15px;
}

.build-route a {
  color: #ec1746;
}

.adult-courses-bg-baner {
  width: 100%;
  padding-bottom: 240px;
  height: auto;
  position: relative;
  padding-top: 65px;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-top: 40px;
}

.alphabet-specialists-background {
  background-image: url(../img/online-courses-bg.png);
  width: 100%;
  position: relative;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.classes-going-background {
  background-image: url(../img/online-courses-bg.png);
  width: 100%;
  position: relative;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 100%;
}

.internatonal-exams {
  width: 100%;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: 40% 60%;
  background-size: cover;
  min-height: 800px;
  padding-top: 190px;
  margin-top: 65px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        height: auto;
        position: relative;
        h1 {
          color: #dba0e4;
          font-size: 5.5rem;
          font-family: 'black';
          text-shadow: -4px 4px 21px #9a4da6;
          transform: rotate(-12deg);
          margin: 0;
          width: 100%;
          min-width: 590px;
        }
        h2 {
          color: #dba0e4;
          font-size: 4.375rem;
          font-family: 'black';
          text-shadow: -4px 4px 21px #9a4da6;
          transform: rotate(-9deg);
          margin: 0;
          text-align: right;
        }
        h3 {
          text-align: right;
          color: #dba0e4;
          font-size: 4.375rem;
          font-family: 'black';
          text-shadow: -4px 4px 21px #9a4da6;
          margin: 0;
          transform: rotate(-16deg);
        }
      }
      &__description {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 585px;
        p {
          font-size: 1.875rem;
          font-family: 'medium';
          color: #fff;
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .home-baner__main__image {
    padding-top: 20px;
  }
  .home-menu__select .current {
    font-size: 0.875rem;
  }
  .home-menu__phone-number p {
    font-size: 0.75rem;
  }
  .home-menu__phone-number img {
    width: 15px;
  }
  .home-menu__select .nice-select {
    background-color: transparent;
    padding-left: 0;
    border: none;
  }
  .location-and-number {
    background-color: #e5e5e5;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
  }
  .brand-style {
    padding-left: 10px;
  }
  .footer-menu__main__logotype {
    padding-bottom: 15px;
  }
  .footer-menu__main__info {
    justify-content: flex-start;
  }
  .even-style {
    padding: 30px 40px;
  }
  .trust__main__numbers-block {
    background-size: cover;
    min-height: 0;
    margin-top: -35px;
  }
  .trust__main__numbers-block p {
    font-size: 1.125rem;
    max-width: 361px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .trust__main__numbers-block p span {
    font-size: 2.25rem;
  }
  .trust__main__title h2 {
    font-size: 1.125rem;
  }
  .trust__main {
    padding-top: 65px;
    padding-bottom: 0;
  }
  .trust__main__description p {
    font-size: .875rem;
  }
  .trust {
    background-size: cover;
    padding-bottom: 40px;
    // height: 250px;
  }
  .footer-menu__main__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    justify-content: center;
    flex-flow: row wrap;
  }
  .footer-menu__main__info ul li a {
    font-size: 0.875rem;
  }
  .footer-menu__main__info ul li {
    text-align: center;
    padding: 0 10px 0 0;
  }
  .arrow-right-certificate {
    top: 103%;
    right: 35%;
    width: 45px;
  }
  .arrow-left-certificate {
    top: 103%;
    right: 49%;
    width: 45px;
  }
  .certificate-section__main__info ul li {
    font-size: 1rem;
  }
  .certificate-section__main__info h1 {
    padding-bottom: 5px;
  }
  .certificate-section__main__info {
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .certificate-section__main__info h1 {
    font-size: 1.125rem;
    text-align: center;
  }
  .certificate-section {
    padding-top: 30px;
    padding-bottom: 75px;
  }
  .sertificate-padding-block {
    padding-top: 40px;
  }
  .about-us__main__item__info-3__description p {
    font-size: 1rem;
    text-align: center;
  }
  .about-us__main__item__info-3__description h2 {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
  }
  .about-us__main__item__info-3__number h1 {
    font-size: 7.25rem;
  }
  .about-us__main__item__info-3__number h3 {
    font-size: 7.25rem;
  }
  .about-us__main__item__info-2__description-2 h2 {
    text-align: center;
  }
  .about-us__main__item__info-2__description h2 {
    text-align: center;
  }
  .about-us__main__item__info-2__description p {
    text-align: center;
  }
  .about-us__main__item__info-2__number h1 {
    font-size: 7.25rem;
  }
  .about-us__main__item__info__number h1 {
    font-size: 7.25rem;
  }
  .about-us {
    padding-bottom: 20px;
  }
  .about-us__main__item__info__description p {
    font-size: 1rem;
    text-align: center;
  }
  .about-us__main__item__info__description h2 {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
  }
  .quotes {
    margin: 0 0 60px 0;
    background-size: cover;
  }
  .quotes__main__description:before {
    left: 0;
    top: 0;
  }
  .quotes__main__description:after {
    right: 0;
    bottom: -4%;
  }
  .arrow-right-quotes {
    top: 100%;
    width: 35px;
    right: 37%;
  }
  .arrow-left-quotes {
    top: 100%;
    width: 35px;
    right: 50%;
  }
  .quotes__main__description span {
    font-size: 1.125rem;
  }
  .quotes__main__description p {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding-top: 30px;
  }
  .quotes__main__description {
    text-align: center;
    margin-bottom: 25px;
  }
  .quotes__main__image {
    background-size: contain;
    min-height: 260px;
  }
  .company-logo {
    padding: 30px 0;
  }
  .company-logo__main__item {
    width: 100%;
    max-width: 55px;
    height: auto;
    min-height: 0;
  }
  .padding-bottom {
    padding-bottom: 20px;
  }
  .padding-bottom:nth-child(1) .main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .padding-bottom:nth-child(2) .main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .padding-bottom:nth-child(3) .main-content {
    display: flex;
    flex-direction: column-reverse;
  } // .main-content:nth-child(even) {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }
  .language-courses__content .block-image {
    min-height: 300px;
    background-position: 65% 0;
  }
  .language-courses__content .block-image .btn-play {
    display: none;
  }
  .language-courses__content .block-info a {
    margin: 20px auto 20px;
  }
  .language-courses__content .block-info ul li {
    font-size: 1.125rem;
  }
  .language-courses__content {
    padding-top: 40px;
  }
  .padding-bottom:nth-child(1) .block-info h2 {
    font-size: 2.25rem;
    padding-bottom: 40px;
  }
  .title-default h1 p {
    font-size: 1.5rem;
  }
  .home-baner__main__info img {
    padding-bottom: 15px;
  }
  .home-baner__main__info {
    margin-top: -22%;
    text-align: center;
  }
  .home-baner__main__info p {
    margin-top: -25%;
    text-align: center;
    margin: 0;
    font-size: 14px;
  }
  .home-baner__main__info p span {
    text-align: center;
    margin: 0;
    font-size: 14px;
  }
  .home-baner {
    padding: 70px 0 40px 0;
  }
  .language-courses__content .block-info h2 {
    font-size: 1.5rem;
  }
  .default-btn {
    width: 100%;
    min-width: 0;
    font-size: .875rem;
    margin: 0 auto;
    height: auto;
    min-height: 40px;
    margin-top: 15px;
  }
  .home-baner__main-reverse-block {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav_wrapper-menu {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
  .footer-menu__main__logotype img {
    width: 100%;
    max-width: 150px;
  }
  .written__main__info__title h1 {
    font-size: 2rem;
    max-width: 500px;
    min-width: 0;
  }
  .written__main__info__title h2 {
    font-size: 2rem;
    right: 0;
    top: 0;
  }
  .menu-main {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between !important;
    align-items: center;
    width: 100% !important;
  }
  .menu-header {
    width: 100%;
  }
  .spinner-master * {
    transition: all 0.3s;
    box-sizing: border-box;
  }
  .spinner-master {
    position: relative;
    margin: 11px;
    height: 30px;
    width: 30px;
    float: right;
    display: block;
    background-color: #fff;
  }
  .spinner-master label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 5px;
    left: 0;
  }
  .spinner-master .spinner {
    position: absolute;
    height: 4px;
    width: 100%;
    padding: 0;
    background-color: #ed1846;
  }
  .spinner-master .diagonal.part-1 {
    position: relative;
    float: left;
  }
  .spinner-master .horizontal {
    position: relative;
    float: left;
    margin-top: 4px;
  }
  .spinner-master .diagonal.part-2 {
    position: relative;
    float: left;
    margin-top: 4px;
  }
  .spinner-master input[type=checkbox]:checked~.spinner-spin>.horizontal {
    opacity: 0;
  }
  .spinner-master input[type=checkbox]:checked~.spinner-spin>.diagonal.part-1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 10px;
  }
  .spinner-master input[type=checkbox]:checked~.spinner-spin>.diagonal.part-2 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -12px;
  }
  a.menu-link {
    display: block;
    color: #fff;
    float: left;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 1.5em;
  }
  a.menu-link:hover {
    color: #efa666;
  }
  a.menu-link:after {
    content: "\2630";
    font-weight: normal;
  }
  a.menu-link.active:after {
    content: "\2715";
  }
  .menu-header {
    clear: both;
    min-width: inherit;
    float: none;
  }
  .menu-header,
  .menu-header>ul ul {
    overflow: hidden;
    max-height: 0;
    background-color: #ed1846;
    width: 90% !important;
    float: left !important;
  }
  .menu-header>li>ul.sub-menu {
    padding: 0px;
    border: none;
  }
  .menu-header.active,
  .menu-header>ul ul.active {
    width: 100%;
    max-height: 55em;
    padding: 40px 10px 40px 40px;
  }
  .menu-header ul {
    display: inline;
    width: 100%;
  }
  .menu-header li,
  .menu-header>ul>li {
    display: block;
  }
  .menu-header>ul>li:last-of-type a {
    border: none;
  }
  .menu-header li a {
    color: #fff !important;
    display: block;
    padding: 0.8em;
    position: relative;
    font-size: 1.5rem !important;
  }
  .menu-header li.has-submenu>a:after {
    content: '+';
    position: absolute;
    top: -10px;
    right: 0;
    display: block;
    font-size: 1.5em; // padding: 0.55em 0.5em;
  }
  .menu-header li.has-submenu>a.active:after {
    content: "-";
  }
  .menu-header ul ul>li a {
    background-color: #ed1846;
    padding: 10px 18px 10px 30px;
    font-size: 1.125rem !important;
    color: #ed1846;
    opacity: .5;
  }
  .menu-header ul li a:hover {
    background: #ed1846;
    color: #fff;
  }
  .menu-header ul li.hover>a {
    background: #ed1846;
  }
  .menu-header ul ul,
  .menu-header ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    border: none;
  }
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.we-go-to {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 130px;
  padding-top: 150px;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 50px;
    &__button {
      text-align: center;
      width: 100%;
      height: auto;
      position: relative;
      background-color: #c67cd2;
      border-radius: 50px;
      padding: 18px 0;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #ed1846;
        cursor: pointer;
      }
      a {
        color: #fff;
        font-size: 2.25rem;
        font-family: 'black';
        text-transform: uppercase;
      }
    }
  }
}

.we-go-to__main__button:hover a {
  text-decoration: none;
}

.numbers-color-violet h1 {
  color: #c67cd2;
}

.classes-international-exams {
  background-image: url(../img/international-exams-bg.png);
  width: 100%;
  position: relative;
  height: auto;
  background-position: 50% 95%;
  background-repeat: no-repeat;
  background-size: auto;
}

.international-exams__title h1 {
  color: #c67cd2;
}

.blockquote-violet-bg blockquote {
  border-left: 14px solid #c67cd2;
}

.blockquote-violet-bg {
  padding-bottom: 15px;
}

.international-exams-arrows .arrow-left-kids-2 {
  position: absolute;
  left: 28%;
  top: 67%;
  cursor: pointer;
  width: 75px;
}

.international-exams-arrows .arrow-right-kids-2 {
  position: absolute;
  right: 59%;
  top: 67%;
  cursor: pointer;
  width: 75px;
}

.application-section-violet-bg {
  background-color: #c67cd2;
}

.languages-section__main__bg-violet .languages-section__main__item {
  background-color: #c67cd2;
  &:hover {
    background-color: #ed1846;
  }
}

.languages-section__main__bg-violet {
  border-color: #b15ebf;
}

.languages-section-written-padding-top {
  padding-top: 0;
}

.we-realize-oral-section {
  padding-top: 160px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__content {
      width: 100%;
      height: auto;
      position: relative;
      &__title {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px 0 40px 0;
        margin: 0 0 40px 0;
        border-left: 10px solid #bee0e6;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: #bee0e6;
          font-family: 'black';
          font-size: 3rem;
          width: 100%;
          height: auto;
          margin: 0 auto;
          max-width: 280px;
          text-align: center;
        }
        span {
          color: #c67cd2;
          font-family: 'black';
          font-size: 8.75rem;
          width: 100%;
          height: auto;
          max-width: 0;
          max-width: 60px;
        }
      }
      &__description {
        p {
          font-family: 'thin';
          color: #6d6d6d;
          font-size: 1.5rem;
          line-height: 1.8rem;
        }
        span {
          font-family: 'bold';
          color: #6d6d6d;
          font-size: 1.5rem;
          line-height: 1.8rem;
        }
      }
    }
    &__info-text {
      width: 100%;
      height: auto;
      position: relative;
      padding: 20px 0 65px 0;
      line-height: 1.8rem;
      p {
        font-family: 'thin';
        font-size: 1.5rem;
        color: #6d6d6d;
      }
      span {
        font-family: 'bold';
        font-size: 1.5rem;
        color: #6d6d6d;
      }
    }
  }
}

.we-realize-title-horizont {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 0 40px 0;
  margin: 0 0 40px 0;
  border-bottom: 10px solid #9cccd5;
  border-left: none;
}

.we-realize-title-horizont h1 {
  color: #9cccd5;
}

.languages-section-delete-blocks .language-delete-btn:nth-child(8) {
  display: none;
}

.language-delete-btn {
  display: none;
}

.menu-main {
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}

.pointer-events-class {
  pointer-events: none;
}

.toefl {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  background-position: 100% 25%;
  background-repeat: no-repeat;
  padding-top: 115px;
  min-height: 900px;
  &__main {
    width: 100%;
    position: relative;
    &__info-block {
      padding-top: 75px;
      width: 100%;
      position: relative;
      &__title {
        width: 100%;
        position: relative;
        padding-bottom: 80px;
        h1 {
          font-family: 'black';
          font-size: 5.5rem;
          color: #dba0e4;
          text-shadow: -5px 11px 18px #91449d;
          margin: 0;
          transform: rotate(-8deg);
        }
        h2 {
          font-family: 'black';
          font-size: 4.375rem;
          color: #dba0e4;
          text-shadow: -5px 11px 18px #91449d;
          margin: 0;
          transform: rotate(-6deg);
        }
        h3 {
          font-family: 'black';
          font-size: 4.3125rem;
          color: #dba0e4;
          text-shadow: -5px 11px 18px #91449d;
          margin: 0;
          transform: rotate(-12deg);
          text-align: right;
        }
      }
      &__description {
        width: 100%;
        height: auto;
        position: relative;
        p {
          color: #fff;
          font-size: 1.875rem;
          font-family: 'medium';
          margin: 0;
        }
        span {
          color: #fff;
          font-size: 1.875rem;
          font-family: 'black';
          margin: 0;
        }
      }
    }
    &__form {
      padding-top: 180px;
      position: relative;
      h3 {
        font-size: 1.875rem;
        color: #fff;
        margin: 0 auto;
        font-family: medium;
        width: 100%;
        max-width: 395px;
        text-align: center;
        span {
          font-size: 1.875rem;
          color: #fff;
          margin: 0;
          font-family: 'black';
        }
      }
      &__input-block {
        width: 100%;
        height: auto;
        position: relative;
        input {
          width: 100%;
          height: auto;
          position: relative;
          border-radius: 40px;
          padding: 7px 0 7px 30px;
          font-family: thin;
          font-size: 1.5rem;
          background-color: #dba0e4;
          border: 1px solid #fff;
          color: #fff !important;
          outline: 0;
          border: none;
        }
      }
    }
  }
}

.toefl-background {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url(../img/toefl-violet-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.toefl-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.toefl-reverse h1 span {
  color: #dba0e4;
}

.toefl-we-realize-color-line .we-realize-title-horizont {
  border-bottom: 10px solid #b261c0;
  border-left: none !important;
}

.toefl-we-realize-color-line .we-realize-oral-section__main__content__title {
  border-left: 10px solid #c67cd2;
}

.toefl-we-realize-color-line .we-realize-title-horizont h1 {
  color: #b261c0;
}

.toefl-we-realize-color-line .we-realize-oral-section__main__content__title h1 {
  color: #c67cd2;
}

.toefl-we-realize-color-line h1 {
  text-align: left;
}

.toefl-we-realize-color-line .we-realize-oral-section__main__content__title {
  padding: 0 0 0 20px;
}

.toefl-section-violet-bg {
  background-color: #c67cd2;
}

.classes-teofl-background {
  background-image: url(../img/toefl-violet-bg-2.png);
  width: 100%;
  position: relative;
  height: auto;
  background-position: 50% 95%;
  background-repeat: no-repeat;
  background-size: auto;
}

.classes-teofl-background .classes-going__main__content__title h1 {
  color: #c67cd2;
}

.classes-teofl-background .classes-going__main__content__quote blockquote {
  border-left: 14px solid#c67cd2;
}

.why-we-cool-border-violet {
  border: 1px solid #c67cd2;
}

.toefl-we-realize-color-line .we-realize-oral-section__main__content__title h1 {
  max-width: 367px;
}

.city-center-li-violet ul li:before {
  content: '';
  position: absolute;
  left: -40px;
  top: 0;
  width: 30px;
  height: 30px;
  background: url(../img/list-style-violet.png);
}

.classes-teofl-background .arrow-left-kids-2 {
  position: absolute;
  left: 35%;
  top: 87%;
  cursor: pointer;
  width: 75px;
}

.classes-teofl-background .arrow-right-kids-2 {
  position: absolute;
  left: 42%;
  top: 87%;
  cursor: pointer;
  width: 75px;
}

.adult-courses-novelty {
  margin: 100px 0 75px 0;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #bdcc2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__main {
    width: 100%;
    height: auto;
    position: relative;
    &__text {
      width: 100%;
      height: auto;
      position: relative;
      p {
        font-family: 'black';
        color: #fff;
        font-size: 2.375rem;
        text-align: center;
        margin: 0;
      }
    }
    &__text-2 {
      background-size: cover;
      width: 172%;
      max-width: 357px;
      height: auto;
      min-height: 215px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -50px;
      p {
        color: #fff;
        font-family: 'bold';
        font-size: 2.25rem;
        margin: 0;
      }
    }
    &__btn {
      background-color: #fff;
      height: auto;
      min-height: 80px;
      border-radius: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      a {
        font-family: 'black';
        color: #6d6d6d;
        font-size: 1.75rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
      }
    }
  }
}

.adult-courses-bg-baner .written__main__form__input-block__select-1 {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}

.we-realize-oral-section-width h1{
  max-width: 100% !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: 'thin';
  font-size: 1.5rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-size: 1.5rem;
  font-family: 'thin';
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-family: 'thin';
  font-size: 1.5rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-family: 'thin';
  font-size: 1.5rem;
}