{{#org-apostyle-sertificate}}

<section class="apostyle-sertificate" style="background-image:url(assets/img/certificate-bg.png);">
	<div class="container">
		<div class="apostyle-sertificate__main">
			<div class="row d-flex">

				<div class="col-12 col-lg-5">
					<div class="apostyle-sertificate__main__image">
						<img src="assets/img/apostyle-sertificate.png" alt="certificate">
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="apostyle-sertificate__main__info">
						<h1>Апостиль</h1>

						<p>
							<span>Апостиль</span>
							— спеціальний штамп, що відповідно до Гаазької конвенції про скасування вимог легалізації іноземних офіційних
							документів, (підписана 5 жовтня 1961 року, в Україні набула чинності 22 грудня 2003 року), проставляється на
							офіційних документах, виданих в установах і організаціях країни учасника Гаазької конвенції, і не вимагає
							подальшого завірення чи легалізації, визнається офіційними органами всіх держав-учасниць Конвенції.
							Апостиль засвідчує дійсність підпису та компетенцію особи, що підписала (видала) офіційний документ, а також, в
							окремих випадках, дійсність штампа або печатки, що скріплює документ.
						</p>

						<h2>Для консультації або замовлення, звертайтесь за тел.:

							<a href=""> (032) 297-05-54</a>
							та
							<a href="">(067) 67-24-773</a>
						</h2>
					</div>
				</div>
			</div>

			<div class="row d-flex">

				<div class="col-12 col-lg-5">
					<div class="apostyle-sertificate__main__image">
						<img src="assets/img/apostyle-sertificate.png" alt="certificate">
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="apostyle-sertificate__main__info">
						<h1>Апостиль</h1>

						<p>
							<span>Апостиль</span>
							— спеціальний штамп, що відповідно до Гаазької конвенції про скасування вимог легалізації іноземних офіційних
							документів, (підписана 5 жовтня 1961 року, в Україні набула чинності 22 грудня 2003 року), проставляється на
							офіційних документах, виданих в установах і організаціях країни учасника Гаазької конвенції, і не вимагає
							подальшого завірення чи легалізації, визнається офіційними органами всіх держав-учасниць Конвенції.
							Апостиль засвідчує дійсність підпису та компетенцію особи, що підписала (видала) офіційний документ, а також, в
							окремих випадках, дійсність штампа або печатки, що скріплює документ.
						</p>

						<h2>Для консультації або замовлення, звертайтесь за тел.:

							<a href=""> (032) 297-05-54</a>
							та
							<a href="">(067) 67-24-773</a>
						</h2>
					</div>
				</div>
			</div>

			<div class="row d-flex">

				<div class="col-12 col-lg-5">
					<div class="apostyle-sertificate__main__image">
						<img src="assets/img/apostyle-sertificate.png" alt="certificate">
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="apostyle-sertificate__main__info">
						<h1>Апостиль</h1>

						<p>
							<span>Апостиль</span>
							— спеціальний штамп, що відповідно до Гаазької конвенції про скасування вимог легалізації іноземних офіційних
							документів, (підписана 5 жовтня 1961 року, в Україні набула чинності 22 грудня 2003 року), проставляється на
							офіційних документах, виданих в установах і організаціях країни учасника Гаазької конвенції, і не вимагає
							подальшого завірення чи легалізації, визнається офіційними органами всіх держав-учасниць Конвенції.
							Апостиль засвідчує дійсність підпису та компетенцію особи, що підписала (видала) офіційний документ, а також, в
							окремих випадках, дійсність штампа або печатки, що скріплює документ.
						</p>

						<h2>Для консультації або замовлення, звертайтесь за тел.:

							<a href=""> (032) 297-05-54</a>
							та
							<a href="">(067) 67-24-773</a>
						</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{{/org-apostyle-sertificate}}