{{#org-apostyle-content-line-1}}
<section class="apostyle" style="background-image:url('assets/img/written-bg.png');">
	<div class="container">
		<div class="apostyle__main">
			<div class="row justify-content-between">
				{{> ../molecules/written-translation-left-info}}

				<div class="col-12 col-lg-5">
					<div class="apostyle__main__form">
						<h3>
							Дізнатися вартість або замовити послугу
							ви можете
							<span>залишивши заявку:</span>
						</h3>

						<form class="apostyle__main__form__input-block">
							<input type="text" id="input-name" placeholder="Ваше імя">
							<input id="phone" type="text" placeholder="Ваш телефон" />
							<input type="submit" value="Дізнатися вартість" id="input-submit">

							<div class="apostyle__main__form__input-block__subtitle">
								<h4>
									або зателефонувавши
								</h4>
							</div>

							<div class="apostyle__main__form__input-block__downloadBtn">
								<a href="#">Показати контакти</a>
							</div>

						</form>


					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{{/org-apostyle-content-line-1}}