{{#org-contact-line-1}}

<section class="contact" style="background-image:url('assets/img/written-bg.png');">
	<div class="container">
		<div class="contact__main">
			<div class="row justify-content-between">

				<div class="col-12 col-lg-6">
					<div class="contact__main__title">
						<h1>Ласкаво просимо до</h1>
						<h2>Азбуки Світу</h2>
					</div>

					<div class="contact__main__description">
						<p>Азбука Світу - це</p>
						<span>Центр іноземних мов</span>
					</div>

				</div>

				<div class="col-12 col-lg-5">
					<div class="contact__main__form">
						<div class="contact__main__form__title">
							<h3>Дізнайтесь вартість перекладу
								<span>просто зараз:</span>
							</h3>
						</div>

						<form>
							<div class="contact__main__input">
								<input type="text" id="input-name" placeholder="Ваше імя">
								<input id="phone" type="text" placeholder="Ваш телефон" />
								<textarea id="Field4" name="Field4" tabindex="4" placeholder="Коментар"></textarea>
								<input type="submit" value="Надіслати" id="input-submit">
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{/org-contact-line-1}}