{{#org-courses-for-kids-content-line-3}}
<section class="classes-going {{classes-going-background}} {{classes-international-exams}} {{classes-teofl-background}}">
	<div class="container">
		<div class="classes-going__main">
			{{> ../molecules/title-h1-default}}
			<div class="classes-going__main-paddingTop  classes-going-slider international-exams-arrows">
				{{> ../molecules/classes-going-content}}
			</div>
		</div>
	</div>
</section>
{{/org-courses-for-kids-content-line-3}}