{{#org-courses-for-kids-content-line-1}}
<section class="courses-for-kids {{adult-courses-bg-baner}}" style="background-image:url('{{{baner-background}}}');">
	<div class="container">
		{{> ../molecules/courses-for-kids-baner}}
	</div>
</section>
{{/org-courses-for-kids-content-line-1}}