{{#org-courses-for-kids-content-line-2}}
<section class="alphabet-specialists {{alphabet-specialists-background}} {{toefl-background}}">
	<div class="container">
		<div class="alphabet-specialists__main">
			{{> ../molecules/title-h1-default}}
			<div class="kids-courses-slider">
				{{> ../molecules/alphabet-specialists-content}}
			</div>
		</div>
	</div>
</section>
{{/org-courses-for-kids-content-line-2}}
