{{#org-footer-main}}
<section class="footer-main" style="background-image:url('assets/img/footer-bg.png');">
	<div class="container">
		<div class="footer-main__content">
			<div class="row">
				<div class="col-12 col-lg-2 order-4 order-lg-1">
					<div class="footer-main__content__info">
						<p>м.Львів</p>
						<p>вул. Ак. Сахарова, 42/107</p>
					</div>
				</div>
				<div class="col-12 col-lg-4 order-3 order-lg-2">
					<div class="footer-main__content__info">
						<p>м.Львів</p>
						<p>пр.Чорновола 67-г (Інтерсіті) 3-й поверх</p>
					</div>
				</div>
				<div class="col-12 col-lg-4 order-2 order-lg-3">
					<div class="footer-main__content__info">
						<p>м.Львів</p>
						<p>пр.Червоної Калини 62-а (Інтерсіті) 2-й поверх</p>
					</div>
				</div>
				<div class="col-12 col-lg-2 order-1 order-lg-4">
					<div class="footer-main__content__numbers">
						<h1>(067) 67-24-773</h1>
						<h1>(067) 67-24-773</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-footer-main}}