{{#org-foot-menu}}

<section class="footer-menu">
	<div class="container">
		<div class="footer-menu__main">
			<div class="row justify-content-between align-items-center flex-wrap">
				<div class="col-12 col-lg-3">
					<div class="footer-menu__main__logotype">
						<img src="assets/img/hone-logo.png" alt="foot-logo">
					</div>
				</div>

				<div class="col-12 col-lg-7">
					<div class="footer-menu__main__info">
						<ul>
							<li>
								<a href="#"> Мовні курси</a>
							</li>
							<li>
								<a href="#">Переклади</a>
							</li>
							<li>
								<a href="#">Міжнародні іспити</a>
							</li>
							<li>
								<a href="#">Про нас</a>
							</li>
							<li>
								<a href="#">Прайс</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{/org-foot-menu}}