{{#org-home-content-line-7}}
<section class="about-us">
	<div class="container">
		<div class="about-us__main">
			<div class="about-us__main__item">
				<div class="about-us__main__item__info-3">
					<div class="row justify-content-between align-items-center flex-wrap">

						<div class="col-12 col-lg-6">
							<div class="about-us__main__item__info-3__number">
								<h3>200</h3>
								<h1>0</h1>
							</div>
						</div>

						<div class="col-12 col-lg-6">
							<div class="about-us__main__item__info-3__description">
								<h2>сторінок перекладаємо щоденно</h2>
								<p>Різноманітні та добре структуровані уроки особливо мотивують, сповнюють упевненості у собі та розвивають
									самостійність у вивченні мови.
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
</section>
{{/org-home-content-line-7}}