{{#org-home-content-line-6}}
<section class="about-us" style="background-image:url(assets/img/numbers-block-bg.png);">
	<div class="container">
		<div class="about-us__main">
			<div class="about-us__main__item">
				<div class="about-us__main__item__info-2">
					<div class="row justify-content-center align-items-center flex-wrap">

						<div class="col-12 col-lg-4">
							<div class="about-us__main__item__info-2__description">
								<h2>Вже більше</h2>
								<p>Якби ми провели зустріч випускників, нам довелось би орендувати маленький стадіон. ))</p>
							</div>
						</div>

						<div class="col-12 col-lg-5">
							<div class="about-us__main__item__info-2__number">
								<h1>8000</h1>
							</div>
						</div>

						<div class="col-12 col-lg-3">
							<div class="about-us__main__item__info-2__description-2">
								<h2>випускників</h2>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
</section>
{{/org-home-content-line-6}}