{{#org-home-content-line-1}}
<section class="home-baner">
	<div class="container">
		<div class="home-baner__main">
			<div class="row d-flex home-baner__main-reverse-block">
				<div class="col-12 col-lg-5">
					<div class="home-baner__main__info">
						<img src="assets/img/home-info-image.png" alt="text">
						<p>Мовні курси у Азбуці Світу підійдуть як новачкам, так і супергероям.</p>
						<p>
							<span>10 мов, 50 рівнів складності</span>
							- обирай те , чого потребуєш саме ти!
						</p>
						<a href="#" class="default-btn">Наші можливості</a>
					</div>
				</div>
				<div class="col-12 col-lg-7">
					<div class="home-baner__main__image">
						<img src="assets/img/home-baner-img.png" alt="baner">
					</div>
				</div>
			</div>

			<div class="row d-flex home-baner__main-reverse-block">
				<div class="col-12 col-lg-5">
					<div class="home-baner__main__info">
						<img src="assets/img/home-info-image.png" alt="text">
						<p>Мовні курси у Азбуці Світу підійдуть як новачкам, так і супергероям.</p>
						<p>
							<span>10 мов, 50 рівнів складності</span>
							- обирай те , чого потребуєш саме ти!
						</p>
						<a href="#" class="default-btn">Наші можливості</a>
					</div>
				</div>
				<div class="col-12 col-lg-7">
					<div class="home-baner__main__image">
						<img src="assets/img/home-baner-img-2.png" alt="baner">
					</div>
				</div>
			</div>

			<div class="row d-flex home-baner__main-reverse-block">
				<div class="col-12 col-lg-5">
					<div class="home-baner__main__info">
						<img src="assets/img/home-info-image.png" alt="text">
						<p>Мовні курси у Азбуці Світу підійдуть як новачкам, так і супергероям.</p>
						<p>
							<span>10 мов, 50 рівнів складності</span>
							- обирай те , чого потребуєш саме ти!
						</p>
						<a href="#" class="default-btn">Наші можливості</a>
					</div>
				</div>
				<div class="col-12 col-lg-7">
					<div class="home-baner__main__image">
						<img src="assets/img/home-baner-img-3.png" alt="baner">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-home-content-line-1}}