{{#org-home-content-line-3}}
<section class="trust" style="background-image:url(assets/img/bg-2.png);">
	<div class="container">
		<div class="trust__main">
			<div class="trust__main__description">
				<p>Наш центр іноземних мов є одним із найбільших у Львові.
					Станом на кінець 2018 року у нас <span>3 філії</span> у місті, <span>онлайн-школа</span> , яка навчає по усій
					Україні, потужне <span> бюро
						перекладів</span>
					, яке обрали визначні Українські компанії.
				</p>
			</div>

			<div class="trust__main__title text-center">
				<h2>І це ще не все:</h2>
			</div>

			<div class="trust__main__numbers-block" style="background-image:url(assets/img/numbers-block-bg.png);">
				<div class="row">

					<div class="even-style">
						<div class="col-12 col-lg-6 text-color-child">
							<p>
								<span>1.</span>
								Ліцензія Міністерства освіти
							</p>
						</div>

						<div class="col-12 col-lg-6 text-color-child">
							<p>
								<span>2.</span>
								Зручний графік
							</p>
						</div>

						<div class="col-12 col-lg-6 text-color-child">
							<p>
								<span>3.</span>
								Усі викладачі та перекладачі є магістрами філології​
							</p>
						</div>

						<div class="col-12 col-lg-6 text-color-child">
							<p>
								<span>4.</span>
								Наші сертифікати визнаються за кордоном
							</p>
						</div>

						<div class="col-12 col-lg-6 text-color-child">
							<p>
								<span>5.</span>
								Заняття з носіями мови
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-home-content-line-3}}