{{#org-home-content-line-8}}
<section class="certificate-section" style="background-image:url(assets/img/certificate-bg.png);">
	<div class="container">
		<div class="certificate-section__main">
			<div class="row d-flex">
				<div class="col-12 col-lg-6">
					<div class="certificate-section__main__image">
						<img src="assets/img/zertificat.png" alt="certificate">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="certificate-section__main__info">
						<h1>Сертифікат засвідчує що</h1>
						<ul>
							<li>Курси для дорослих</li>
							<li>Курси для дітей</li>
							<li>ЗНО</li>
							<li>Підготовка до школи</li>
							<li>Пробне заняття</li>
							<li>Онлайн навчання</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row d-flex">
				<div class="col-12 col-lg-6">
					<div class="certificate-section__main__image">
						<img src="assets/img/zertificat.png" alt="certificate">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="certificate-section__main__info">
						<h1>Сертифікат засвідчує що</h1>
						<ul>
							<li>Курси для дорослих</li>
							<li>Курси для дітей</li>
							<li>ЗНО</li>
							<li>Підготовка до школи</li>
							<li>Пробне заняття</li>
							<li>Онлайн навчання</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row d-flex">
				<div class="col-12 col-lg-6">
					<div class="certificate-section__main__image">
						<img src="assets/img/zertificat.png" alt="certificate">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="certificate-section__main__info">
						<h1>Сертифікат засвідчує що</h1>
						<ul>
							<li>Курси для дорослих</li>
							<li>Курси для дітей</li>
							<li>ЗНО</li>
							<li>Підготовка до школи</li>
							<li>Пробне заняття</li>
							<li>Онлайн навчання</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-home-content-line-8}}