{{#org-international-exams-content-line-2}}
<section class="we-go-to">
	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="we-go-to__main">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="we-go-to__main__button">
						<a href="#">ЗНО</a>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="we-go-to__main__button">
						<a href="#">IELTS</a>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="we-go-to__main__button">
						<a href="#">TOEFL</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{{/org-international-exams-content-line-2}}