{{#org-internatonal-exams-baner}}
<section class="internatonal-exams" style="background-image:url('assets/img/international-exams-baner-bg.png');">
	<div class="container">
		<div class="internatonal-exams__main">
			<div class="row justify-content-end">
				<div class="col-12 col-lg-7">
					<div class="internatonal-exams__main__content">

						<div class="internatonal-exams__main__content__title">
							<h1>Підготуйтесь до</h1>
							<h2>найважливіших</h2>
							<h3>тестів</h3>
						</div>

						<div class="internatonal-exams__main__content__description">
							<p>Наші спеціалісти підготують вас до найважливіших тестів у вашому житті</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-internatonal-exams-baner}}