{{#org-oral-translation-content-line-6}}
<section class="city-center-content">
	<div class="container">
		{{> ../molecules/city-center-content-2}}
	</div>
</section>
{{/org-oral-translation-content-line-6}}