{{#org-oral-translation-content-line-8}}
	<section class="we-realize-oral-section">
		<div class="container">
			<div class="we-realize-oral-section__main">
				{{> ../molecules/title-h1-default}}
				<div class="row pt-5">
					{{> ../molecules/we-realize-oral-section-content}}
				</div>
			</div>
		</div>
	</section>
{{/org-oral-translation-content-line-8}}
