{{#org-oral-translation-content-line-7}}
<section class="languages-section {{languages-section-written-padding-top}}">
	<div class="container">
		<div class="languages-section__main {{languages-section__main__border}} {{languages-section__main__border-yellow}} {{languages-section__main__bg-violet}}">
			{{> ../molecules/title-h1-default}}
			<div class="pt-4">
				<div class="row">
					{{> ../molecules/language-buttons}}
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-oral-translation-content-line-7}}