{{#org-oral-translation-content-line-3}}
<section class="trust-azbyka">
	<div class="container">
		<div class="trust-azbyka__main">
			<div class="row justify-content-around align-items-center">
				{{> ../molecules/trust-azbyka-content}}
			</div>
		</div>
	</div>
</section>
{{/org-oral-translation-content-line-3}}