{{#org-oral-translation-content-line-4}}
<section class="application-section {{application-section-yellow-bg}} {{application-section-violet-bg}} {{toefl-section-violet-bg}}">
	<div class="container">
		<div class="application-section__main">
			{{> ../molecules/aplication-section}}
		</div>
	</div>
</section>
{{/org-oral-translation-content-line-4}}