{{#org-oral-translation-content-line-2}}
<section class="categorias-section">
	<div class="container">
		<div class="categorias-section__main">
			<div class="row justify-content-between align-items-start">
				<div class="col-12 col-lg-4">
					<div class="categorias-section__main__item">
						<a href="#">
							<h1>Усний переклад</h1>
							<p>(синхроний та звичайний)</p>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="categorias-section__main__item">
						<a href="#">
							<h1>Апостиль</h1>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="categorias-section__main__item">
						<a href="#">
							<h1>Нотаріальний переклад</h1>
						</a>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="categorias-section__main__item">
						<a href="#">
							<h1>Технічний переклад</h1>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="categorias-section__main__item">
						<a href="#">
							<h1>Медичний переклад</h1>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="categorias-section__main__item">
						<a href="#">
							<h1>Легалізація</h1>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/org-oral-translation-content-line-2}}