{{#org-toefl-content-line-1}}
<section class="toefl" style="background-image:url('assets/img/toefl-baner-img.png');">
	<div class="container">
		<div class="toefl__main">
			<div class="row justify-content-between ">

				<div class="col-12 col-lg-6">
					<div class="toefl__main__info-block">
						<div class="toefl__main__info-block__title">
							<h1>TOEFL</h1>
							<h2>на 190 балів</h2>
							<h3>з гарантією</h3>
						</div>
						<div class="toefl__main__info-block__description">
							<p>Якщо ти звичайно не повний бовдур.</p>
							<span>Тоді без гарантії.</span>
						</div>

					</div>
				</div>

				<div class="col-12 col-lg-5">
					<div class="toefl__main__form">
						<h3>
							Зареєструватись на
							<span>безкоштовне</span>
							заняття:
						</h3>
						<form class="written__main__form__input-block {{toefl__main__form__input-block}}">
							<input type="text" id="input-name" placeholder="Ваше імя">
							<input id="phone" type="text" placeholder="Ваш телефон" />
							<input type="submit" value="Зареєструватись" id="input-submit">
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{{/org-toefl-content-line-1}}