{{#org-translation-agency-content-liene-1}}

<section class="translation-agency" style="background-image:url('assets/img/translation-agency-bg.png');">
	<div class="container">
		<div class="translation-agency__main">
			<div class="row justify-content-end">
				<div class="col-12 col-lg-6">
					<div class="content-agency">
						<div class="translation-agency__main__title">
							<h1>Бюро перекладів</h1>
							<h2>Азбука Світу</h2>
						</div>
						<div class="translation-agency__main__description">
							<p>
								Це місце де ви можете отримати високоякісний переклад, як письмовий так і усний
							</p>
							<p>
								Десятки мов світу, кваліфіковані перекладачі, редакторська вичитка - це лише невелика доля того, за що нас
								довіряють клієнти.
							</p>
						</div>

						<div class="translation-agency__main__list">
							<h3>Ми пропонуємо</h3>
							<ul>
								<li>усний переклад</li>
								<li> письмовий переклад</li>
								<li> апостиль</li>
								<li>легалізацію</li>
								<li>нотаріальний переклкад</li>
								<li> категорійний переклад </br>
									(медичний, технічний, юридичний, тощо) "
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{/org-translation-agency-content-liene-1}}