{{#org-we-realize}}
<section class="we-realize">
	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="we-realize__main">
			<div class="we-realize__main__content">
				<div class="row itemChild">
					<div class="col-12 col-lg-4 itemChild">
						<div class="we-realize__main__content__item" style="background-image:url('assets/img/written-translation-skew-1.png');">
							<h1>
								1.
								<span>Технічний переклад</span>
							</h1>
						</div>
					</div>

					<div class="col-12 col-lg-4 itemChild">
						<div class="we-realize__main__content__item">
							<h1>
								2.
								<span>Медичний переклад</span>
							</h1>
						</div>
					</div>

			

				<div class="col-12 col-lg-4 itemChild">
					<div class="we-realize__main__content__item " style="background-image:url('assets/img/written-translation-skew-2.png');">
						<h1>
							3.
							<span>Нотаріальний переклад</span>
						</h1>
					</div>
				</div>


				<div class="col-12 col-lg-4 itemChild">
					<div class="we-realize__main__content__item">
						<h1>
							4.
							<span>Економічний</span>
						</h1>
					</div>
				</div>

				<div class="col-12 col-lg-4 itemChild">
					<div class="we-realize__main__content__item" style="background-image:url('assets/img/written-translation-skew-2.png');">
						<h1>
							5.
							<span>Офіційно діловий</span>
						</h1>
					</div>
				</div>

				<div class="col-12 col-lg-4 itemChild">
					<div class="we-realize__main__content__item">
						<h1>
							6.
							<span>Переклад сайтів</span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
{{/org-we-realize}}