{{#org-written-translation-content-line-1}}
<section class="written" style="background-image:url('assets/img/written-bg.png');">
	<div class="container">
		<div class="written__main">
			<div class="row justify-content-between">
				{{> ../molecules/written-translation-left-info}}

				{{> ../molecules/written-translation-form-block}}
			
			</div>
		</div>
	</div>
</section>
{{/org-written-translation-content-line-1}}