{{#p-adult-courses}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/courses-for-kids-content-line-1}}
{{> ../organisms/oral-translation-content-line-7}}
{{> ../organisms/adult-courses-content-lien-3}}
{{> ../organisms/title-default-7}}
{{> ../organisms/oral-translation-content-line-3}}
{{> ../organisms/courses-for-kids-content-line-2}}
{{> ../organisms/oral-translation-content-line-4}}
{{> ../organisms/courses-for-kids-content-line-3}}
{{> ../organisms/courses-for-kids-content-line-4}}
{{> ../organisms/title-default-3}}
{{> ../organisms/company-logo}}
{{> ../organisms/home-content-line-4}}
{{> ../organisms/title-default-8}}
{{> ../organisms/oral-translation-content-line-5}}
{{> ../organisms/title-default-9}}
{{> ../organisms/oral-translation-content-line-6}}
{{> ../organisms/foot-menu}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-adult-courses}}