{{#p-contact}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/contact-line-1}}
{{> ../organisms/contact-line-2}}

{{> ../organisms/title-default-8}}
{{> ../organisms/oral-translation-content-line-5}}
{{> ../organisms/title-default-9}}
{{> ../organisms/oral-translation-content-line-6}}
{{> ../organisms/foot-menu}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-contact}}