{{#p-faq}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/oral-translation-content-line-8}}
{{> ../organisms/oral-translation-content-line-4}}
{{> ../organisms/title-default-8}}
{{> ../organisms/oral-translation-content-line-5}}
{{> ../organisms/title-default-9}}
{{> ../organisms/oral-translation-content-line-6}}
{{> ../organisms/foot-menu}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-faq}}