{{#p-index}}
{{> ../head }}
  {{> ../organisms/home-menu}}
  {{> ../organisms/home-content-line-1}}
  {{> ../organisms/title-default-1}}
  {{> ../organisms/home-content-line-2}}
  {{> ../organisms/title-default-2}}
  {{> ../organisms/home-content-line-3}}
  {{> ../organisms/title-default-3}}
  {{> ../organisms/company-logo}}
  {{> ../organisms/home-content-line-4}}
  {{> ../organisms/title-default-4}}
  {{> ../organisms/home-content-line-5}}
  {{> ../organisms/home-content-line-6}}
  {{> ../organisms/home-content-line-7}}
  {{> ../organisms/title-default-5}}
  {{> ../organisms/home-content-line-8}}
  {{> ../organisms/foot-menu}}
  {{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-index}}