{{#p-oral-translation}}
  {{> ../head }}
  {{> ../organisms/home-menu}}
  {{> ../organisms/written-translation-content-line-1}}
  {{> ../organisms/oral-translation-content-line-8}}
  {{> ../organisms/title-default-3}}
  {{> ../organisms/company-logo}}
  {{> ../organisms/oral-translation-content-line-7}}
  {{> ../organisms/title-default-7}}
  {{> ../organisms/oral-translation-content-line-3}}
  {{> ../organisms/oral-translation-content-line-4}}
  {{> ../organisms/title-default-8}}
  {{> ../organisms/oral-translation-content-line-5}}
  {{> ../organisms/title-default-9}}
  {{> ../organisms/oral-translation-content-line-6}}
  {{> ../organisms/foot-menu}}
  {{> ../organisms/footer-main}}
  {{> ../foot }}
{{/p-oral-translation}}
