{{#p-toefl}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/toefl-content-line-1}}
{{> ../organisms/courses-for-kids-content-line-2}}
{{> ../organisms/oral-translation-content-line-8}}
{{> ../organisms/oral-translation-content-line-4}}
{{> ../organisms/courses-for-kids-content-line-3}}
{{> ../organisms/courses-for-kids-content-line-4}}
{{> ../organisms/title-default-8}}
{{> ../organisms/oral-translation-content-line-5}}
{{> ../organisms/title-default-9}}
{{> ../organisms/oral-translation-content-line-6}}
{{> ../organisms/foot-menu}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-toefl}}