<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendors/nice-select.css">
  <link rel="stylesheet" href="assets/css/vendors/aos.css">
  <link rel="stylesheet" href="assets/css/vendors/slick.css">
  <link rel="stylesheet" href="assets/css/vendors/slick-theme.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  {{! <link rel="stylesheet" href="assets/css/vendors/font-awesome.css"> }}
  <link rel="stylesheet" href="assets/css/style.min.css">
  <title>{{head.title}}</title>
</head>
<body>